*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-light: #eaeaea;
    --white: #f4fffd;
    --colorFactor: #0d2574;
    --dark: #0c0009;
    --footer: #dd912e;
}


body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 22px;
}

.contenido-header {
    width: 100%;
    height: 50px;
    background-color: #162269;
}

#imagenFactor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu2{
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: left;
    font-family: 'Noto Serif', serif;
    font-style: italic;
}

.menu2 a {
    display: inline-block;
    transition: .5s ease all;
    color: var(--colorFactort);
    text-decoration: none;
}

.menu2 a:hover {
    transform: translateY(18px);
    background-color: var(--colorFactort);
}

.imagenFondo {
    background-image: url('../img/imagenFondoFormulario.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.formulario{
    background-color: rgba(255, 255, 255, 0.8);
    display:  inline-block;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px 20px 30px 40px;
}
.formulario button{
    text-align: center;
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    margin-block: 10px;
}

.tituloF{
    color: #ffffff;
    display:  inline-block;
    margin-top: 200px;
}

.flujo{
    margin-top: 60px;
}

.flujo .titulo {
    width: 70%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
}

.titulo::after {
    content: "";
    display:  inline-block;
    height: 2px;
    width: 100%;
    background: var(--purple-dark);
    position: relative;
    top: -29px;
    z-index: 2;
}

.separador {
    width: 100%;
    height: 250px;
    background-image: url('../img/display/separdo.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.separador p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: 'Noto Serif', serif;
    padding: 10px;
}

.productos {
    background: var(--gray-light);
    padding: 20px;
    margin-bottom: 60px;
   }

   .productos .titulo {
       width: 70%;
       font-size: 44px;
       text-transform: uppercase;
       display: inline-block;
       margin-bottom: 50px;
   }
   
   
   .productos .producto {
       position: relative;
       width: 100%;
   }
   
   .producto .overlay {
       width: 0%;
       height: 100%;
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       background: var(--colorFactor);
       overflow: hidden;
       transition: .5s ease;
   }
   
   
   .productos .producto:hover .overlay {
       width: 100%;
       opacity: .8;
   }
   
   .productos .producto .overlay-texto {
       top: 50%;
       left: 50%;
       position: absolute;
       color: var(--white);
       font-size: 18px;
       transform: translate(-50%, -50%);
       overflow: hidden;
       border-top: 1px solid #fff;
       border-bottom: 1px solid #fff;
   }

.galeria {
    margin-bottom: 60px;
}

.galeria img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.contacto {
    margin-bottom: 60px;
}


.redes-sociales {
    padding: 10px;
    background-color: var(--footer);
}

.redes-sociales img {
    padding: 5px;
    border-radius:  100%;
    width: 50px;
    transition: .3s ease all;
}


.redes-sociales img:hover {
    transform: scale(1.2);
}

.footer2 {
    background-color: var(--colorFactor);
    color: var(--white);
    text-align: center;
}

.footer2 a{
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

/* AQUI */

@media screen and (max-width: 992px) {
    p {
        font-size: 18px;
    }

    .contenido-header .texto {
        font-size: 60px;
    }

    .menu a {
        font-size: 20px;
    }

    .nosotros .titulo,
    .producto .titulo {
        font-size: 30px;
    }
}


